// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
// Copyright (c) 2021 Sipeed

/dts-v1/;

#include "sun50i-r329-maix-iia.dtsi"

#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/pwm/pwm.h>

/ {
	model = "Sipeed MaixSense";
	compatible = "sipeed,maixsense", "sipeed,maix-iia",
		     "allwinner,sun50i-r329";

	aliases {
		serial0 = &uart0;
        serial1 = &uart1;
        serial2 = &uart2;
        serial3 = &uart3;
        i2c0 = &i2c0;
		i2c1 = &i2c1;
		spi0 = &spi0;
		spi1 = &spi1;
		mmc0 = &mmc0;
		// pwm1 = &pwm1;
		// pwm2 = &pwm2;
		// pwm7 = &pwm7;
		// pwm8 = &pwm8;		
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	backlight: backlight {
		status = "disable";
		compatible = "pwm-backlight";
		pwms = <&pwm 1 50000 PWM_POLARITY_INVERTED>;
		brightness-levels = <0 16 18 20 22 24 26 29 32 35 38 42 46 51 56 62 68 75 83 91 100>;
		default-brightness-level = <18>;
	};

	leds {
		compatible = "gpio-leds";
		status = "okay";

		led-0 {
			label = "red";
			gpios = <&pio 1 2 GPIO_ACTIVE_LOW>; /* PB2 */
		};

		led-1 {
			label = "green";
			gpios = <&pio 1 3 GPIO_ACTIVE_LOW>; /* PB3 */			
		};
		led-2 {
			label = "blue:heartbeat";
			gpios = <&pio 1 6 GPIO_ACTIVE_LOW>; /* PB6 */
			function = LED_FUNCTION_HEARTBEAT;
			linux,default-trigger = "heartbeat";				
		};
	};
};

&codec {
	status = "disable";
	allwinner,audio-routing =
		"Speaker", "SPKL",
		"MIC1", "Mic",
		"MIC2", "Mic",
		"Mic", "MBIAS",
		"Mic", "MBIAS";
};

&codec_analog {
	status = "disable";
};

&ehci0 {
	status = "okay";
};

&lradc {
	status = "disable";
};

&mmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc0_pf_pins>;

	vmmc-supply = <&reg_vcc3v3>;
	bus-width = <4>;
	cd-gpios = <&pio 5 6 GPIO_ACTIVE_LOW>; /* PF6 */
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&pwm {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm7_pb7>;
	status = "disable";
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_clk_pc4>, <&spi0_mosi_pc3>, <&spi0_miso_pc1>;
	//<&spi0_cs_pc0>, 
	status = "disable";

	//ICM_20602 ICM_20689_CS
	// cs-gpios = <&pio 2 0 GPIO_ACTIVE_HIGH>,<&r_pio 0 2 GPIO_ACTIVE_HIGH>;
	// spidev@0 {
	// 	compatible = "spidev";
	// 	/* spi default max clock 100Mhz */
	// 	spi-max-frequency = <100000000>;
	// 	reg = <0>;
	// };

	// spidev@1 {
	// 	compatible = "spidev";
	// 	/* spi default max clock 100Mhz */
	// 	spi-max-frequency = <100000000>;
	// 	reg = <1>;
	// };

};

&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_cs_ph0>, <&spi1_clk_ph1>, <&spi1_mosi_ph2>;

	status = "okay";

	display@0{
		compatible = "sitronix,st7735r";
		reg = <0>;
		// spi-cpol;
		// spi-cpha;
		bgr;
		rotate = <90>;
		fps = <30>;
		buswidth = <8>;
		spi-max-frequency = <28000000>;
		dc-gpios = <&r_pio 0 2 GPIO_ACTIVE_HIGH>;       //PL2
		reset-gpios = <&r_pio 0 1 GPIO_ACTIVE_HIGH>;	//PL1
		//backlight = <&backlight>;
		led-gpios = <&pio 1 7 GPIO_ACTIVE_HIGH>;
	};
};
//ABCDEFGHIJ K  L
//0123456789 10 11

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pb_pins>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pins>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pb_pins>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_ph_pins>;
	status = "okay";
};

&usb_otg {
	dr_mode = "host";//"peripheral";//otg
	status = "okay";
};

&usbphy {
	// usb0_id_det-gpios = <&pio 1 3 GPIO_ACTIVE_HIGH>; /* PB3 */
	status = "okay";
};
